# SPDX-FileCopyrightText: 2022 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Francis
Name[ca]=Francis
Name[ca@valencia]=Francis
Name[cs]=Francis
Name[de]=Francis
Name[es]=Francis
Name[fr]=Francis
Name[it]=Francis
Name[ko]=Francis
Name[nl]=Francis
Name[pt]=Francis
Name[sl]=Francis
Name[tr]=Francis
Name[uk]=Francis
Name[x-test]=xxFrancisxx
Name[zh_TW]=Francis
GenericName=Pomodoro Application
GenericName[ca]=Aplicació del Pomodoro
GenericName[ca@valencia]=Aplicació de Pomodoro
GenericName[es]=Aplicación de Pomodoro
GenericName[fr]=Application Pomodoro
GenericName[ko]=Pomodoro 프로그램
GenericName[nl]=Pomodoro-toepassing
GenericName[pt]=Aplicação do Pomodoro
GenericName[sl]=Aplikacija Pomodoro
GenericName[tr]=Pomodoro Uygulaması
GenericName[uk]=Програма-pomodoro
GenericName[x-test]=xxPomodoro Applicationxx
Comment=Track your time
Comment[ca]=Seguiment del vostre temps
Comment[ca@valencia]=Seguiment del vostre temps
Comment[de]=Behalten Sie Ihre Zeit im Auge
Comment[es]=Seguimiento de su tiempo
Comment[fr]=Gérer votre temps
Comment[it]=Tieni traccia del tuo tempo
Comment[ko]=시간 추적
Comment[nl]=Tijd schrijven
Comment[pt]=Faça um registo do seu tempo
Comment[sl]=Sledi vašemu času
Comment[tr]=Zamanınızı izleyin
Comment[uk]=Керуйте вашим часом
Comment[x-test]=xxTrack your timexx
Comment[zh_TW]=追蹤、掌控時間
Exec=francis
Icon=org.kde.francis
Type=Application
Terminal=false
Keywords=pomodoro;timer;productivity;
Keywords[ca]=pomodoro;temporitzador;productivitat;
Keywords[ca@valencia]=pomodoro;temporitzador;productivitat;
Keywords[es]=pomodoro;temporizador;productividad;
Keywords[fr]=pomodoro ; chronomètre ; productivité
Keywords[ko]=pomodoro;timer;productivity;타이머;생산성;
Keywords[nl]=pomodoro;timer;productiviteit;
Keywords[pt]=pomodoro;cronómetro;produtividade;
Keywords[sl]=pomodoro;časomer;produktivnost
Keywords[tr]=pomodoro;sayaç;üretkenlik;
Keywords[uk]=pomodoro;timer;productivity;помодоро;таймер;робота;продуктивність;
Keywords[x-test]=xxpomodoroxx;xxtimerxx;xxproductivityxx;
Categories=Utility;
SingleMainWindow=true
