# SPDX-FileCopyrightText: 2022 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Francis
Name[ar]=إد فرنسيس
Name[ast]=Francis
Name[ca]=Francis
Name[ca@valencia]=Francis
Name[cs]=Francis
Name[de]=Francis
Name[en_GB]=Francis
Name[eo]=Francis
Name[es]=Francis
Name[eu]=Francis
Name[fi]=Francis
Name[fr]=Francis
Name[gl]=Francis
Name[he]=פרנסיס
Name[hi]=फ्रांसिस
Name[hu]=Francis
Name[ia]=Francis
Name[it]=Francis
Name[ka]=Francis
Name[ko]=Francis
Name[lt]=Francis
Name[lv]=Francis
Name[nl]=Francis
Name[nn]=Francis
Name[pl]=Francis
Name[pt]=Francis
Name[pt_BR]=Francis
Name[ro]=Francis
Name[ru]=Francis
Name[sa]=फ्रांसिस्
Name[sk]=Francis
Name[sl]=Francis
Name[sv]=Francis
Name[tr]=Francis
Name[uk]=Francis
Name[zh_CN]=Francis 番茄计时器
Name[zh_TW]=Francis
GenericName=Pomodoro Application
GenericName[ar]=تطبيق بومودورو
GenericName[ca]=Aplicació del Pomodoro
GenericName[ca@valencia]=Aplicació de Pomodoro
GenericName[cs]=Aplikace pro Pomodoro
GenericName[de]=Pomodoro-Anwendung
GenericName[en_GB]=Pomodoro Application
GenericName[eo]=Pomodoro-aplikaĵo
GenericName[es]=Aplicación de Pomodoro
GenericName[eu]=Pomodoro aplikazioa
GenericName[fi]=Pomodorosovellus
GenericName[fr]=Application pour Pomodoro
GenericName[gl]=Aplicación pomodoro
GenericName[he]=יישום פומודרו
GenericName[hi]=पोमोडोरो एप्लीकेशन
GenericName[hu]=Pomodoro alkalmazás
GenericName[ia]=Application de Pomodoro
GenericName[it]=Applicazione pomodoro
GenericName[ka]=პომოდორო აპლიკაცია
GenericName[ko]=Pomodoro 앱
GenericName[lt]=Pomodoro programa
GenericName[lv]=Pomodoro programma
GenericName[nl]=Pomodoro-toepassing
GenericName[nn]=Pomodoro-program
GenericName[pl]=Program Pomodoro
GenericName[pt]=Aplicação do Pomodoro
GenericName[pt_BR]=Aplicativo Pomodoro
GenericName[ro]=Aplicație Pomodoro
GenericName[ru]=«Метод помидора»
GenericName[sa]=पोमोडोरो अनुप्रयोग
GenericName[sk]=Aplikácia Pomodoro
GenericName[sl]=Aplikacija Pomodoro
GenericName[sv]=Pomodoro-program
GenericName[tr]=Pomodoro Uygulaması
GenericName[uk]=Програма-pomodoro
GenericName[zh_CN]=番茄工作法计时器
GenericName[zh_TW]=Pomodoro 應用程式
Comment=Track your time
Comment[ar]=تتبع وقتك
Comment[ca]=Seguiment del vostre temps
Comment[ca@valencia]=Seguiment del vostre temps
Comment[cs]=Sledujte svůj čas
Comment[de]=Behalten Sie Ihre Zeit im Auge
Comment[en_GB]=Track your time
Comment[eo]=Spuru vian tempon
Comment[es]=Seguimiento de su tiempo
Comment[eu]=Zure denboraren jarraipena
Comment[fi]=Pidä kirjaa ajastasi
Comment[fr]=Gérer votre temps
Comment[gl]=Controle o seu tempo.
Comment[he]=מעקב אחר הזמן שלך
Comment[hi]=अपना समय ट्रैक करें
Comment[hu]=Kövesse nyomon az idejét
Comment[ia]=Tracia tu tempore
Comment[it]=Tieni traccia del tuo tempo
Comment[ka]=თვალყური ადევნეთ თქვენს დროს
Comment[ko]=시간 추적
Comment[lt]=Sekti savo laiką
Comment[lv]=Sekojiet savam laikam
Comment[nl]=Tijd schrijven
Comment[nn]=Styr tidsbruken din
Comment[pl]=Śledź swój czas
Comment[pt]=Faça um registo do seu tempo
Comment[pt_BR]=Acompanhe seu tempo
Comment[ro]=Duceți evidența timpului
Comment[ru]=Управление временем
Comment[sa]=स्वस्य समयस्य निरीक्षणं कुर्वन्तु
Comment[sk]=Sledovanie vášho času
Comment[sl]=Sledi vašemu času
Comment[sv]=Spåra din tid
Comment[tr]=Zamanınızı izleyin
Comment[uk]=Керуйте вашим часом
Comment[zh_CN]=使用番茄工作法掌握作息时间
Comment[zh_TW]=追蹤、掌控時間
Exec=francis
Icon=org.kde.francis
Type=Application
Terminal=false
Keywords=pomodoro;timer;productivity;
Keywords[ar]=بومودورو;مؤقت;إنتاجية;
Keywords[ca]=pomodoro;temporitzador;productivitat;
Keywords[ca@valencia]=pomodoro;temporitzador;productivitat;
Keywords[cs]=pomodoro;časovač;produktivita;
Keywords[de]=Zeiterfassung;Produktivität;
Keywords[en_GB]=pomodoro;timer;productivity;
Keywords[eo]=pomodoro;tempigilo;produktiveco;
Keywords[es]=pomodoro;temporizador;productividad;
Keywords[eu]=pomodoro;tenporizadorea;produktibitatea;
Keywords[fi]=pomodoro;ajastus;ajastin;tuottavuus;
Keywords[fr]=Pomodoro;chronomètre;productivité;
Keywords[gl]=pomodoro;temporizador;produtividade;
Keywords[he]=פומודורו;מתזמן;טיימר;שעון עצר;מודד;יעילות;פרודוקטיביות;פרודקטיביות;
Keywords[hi]=पोमोडोरो; टाइमर; उत्पादकता;
Keywords[hu]=pomodoro;időzítő;produktivitás;
Keywords[ia]=pomodoro;timer;productivity;
Keywords[it]=pomodoro;timer;produttività;
Keywords[ka]=pomodoro;timer;productivity;
Keywords[ko]=pomodoro;timer;productivity;타이머;생산성;
Keywords[lt]=pomodoro;laikmatis;produktyvumas;
Keywords[lv]=pomodoro;taimeris;produktivitāte;
Keywords[nl]=pomodoro;timer;productiviteit;
Keywords[nn]=pomodoro;tidtakar;produktivitet;
Keywords[pl]=pomodoro;czasomierz;produktywność;
Keywords[pt]=pomodoro;cronómetro;produtividade;
Keywords[pt_BR]=pomodoro;timer;produtividade;
Keywords[ro]=pomodoro;cronometru;productivitate;
Keywords[ru]=pomodoro;timer;productivity;помидор;таймер;продуктивность;
Keywords[sa]=pomodoro;समयनिर्धारक;उत्पादकता;
Keywords[sk]=pomodoro;časovač;produktivita;
Keywords[sl]=pomodoro;časomer;produktivnost;časovnik;merilnik časa;
Keywords[sv]=pomodoro;tidtagning;produktivitet;
Keywords[tr]=pomodoro;sayaç;üretkenlik;
Keywords[uk]=pomodoro;timer;productivity;помодоро;таймер;робота;продуктивність;
Keywords[zh_CN]=pomodoro;timer;productivity;番茄工作法;番茄;计时器;生产力;倒计时;fanqiegongzuofa;fanqie;jishiqi;shengchanli;daojishi;
Keywords[zh_TW]=pomodoro;timer;productivity;倒數計時器;
Categories=Utility;
SingleMainWindow=true
