# SPDX-FileCopyrightText: 2022 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Francis
Name[ca]=Francis
Name[ca@valencia]=Francis
Name[de]=Francis
Name[es]=Francis
Name[fr]=Francis
Name[it]=Francis
Name[nl]=Francis
Name[pt]=Francis
Name[sl]=Francis
Name[tr]=Francis
Name[uk]=Francis
Name[x-test]=xxFrancisxx
Name[zh_TW]=Francis
Comment=Track your time
Comment[ca]=Seguiment del vostre temps
Comment[ca@valencia]=Seguiment del vostre temps
Comment[de]=Behalten Sie Ihre Zeit im Auge
Comment[es]=Seguimiento de su tiempo
Comment[fr]=Gérer votre temps
Comment[it]=Tieni traccia del tuo tempo
Comment[nl]=Tijd schrijven
Comment[pt]=Faça um registo do seu tempo
Comment[sl]=Sledi vašemu času
Comment[tr]=Zamanınızı izleyin
Comment[uk]=Керуйте вашим часом
Comment[x-test]=xxTrack your timexx
Comment[zh_TW]=追蹤、掌控時間
Exec=francis
Icon=org.kde.francis
Type=Application
Terminal=false
Categories=Utility;
SingleMainWindow=true
